[Unit]
Description=NTP Monitor
After=syslog.target

[Service]
User=ntpmon
Type=simple
WorkingDirectory=/apps/ntpmon
ExecStart=/apps/ntpmon/runNTPMon.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target